/* 1-1 */
@media (min-width: 800px) {
  section {
    font-size: 2.25em;
    max-width: 700px;
  }
}

/* 1-2 */
.header h2 {
  margin: 0 0 0.5em 0;
}

/* 1-3 */
.email:focus {
  outline: 2px solid #fff;
  outline-offset: 0.15em;
}

/* 1-4 */
/* <button className={props.active ? css.submitActive : css.submit}> */
.submitActive {
  composes: submit;
  height: auto;
  width: auto;
  font-size: 1em;
  translate: -50% 50%;
  rotate: -5deg;
  padding: 0.25em 1em;
  border-bottom: 3px solid var(--spectrum5);
}
.submitActive:focus {
  outline: 2px solid #fff;
  outline-offset: 4px;
}
.submitActive:focus,
.submitActive:hover {
  border-bottom-color: var(--spectrum1);
  rotate: 0deg;
  scale: 1.2;
}

/* 1-6 */
/* <div className={props.active ? css.barActive : css.bar}></div>; */
.barActive {
  composes: bar;
  height: 100%;
}

/* 1-7 */
animation: jitter 350ms ease-out infinite alternate;

@keyframes jitter {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.9);
  }
}
