.app__newsletter .es-newsletter__header {
  color: #ff598a;
}
.app__newsletter .es-newsletter__email {
  color: #fff;
  background: #070222;
  text-align: center;
}
.app__newsletter .es-newsletter__email:focus {
  outline: 2px solid #5e9fff;
}
