.container {
  --spectrum1: #ff598a;
  --spectrum2: #de56e8;
  --spectrum3: #b36bff;
  --spectrum4: #5b56e8;
  --spectrum5: #5e9fff;

  position: relative;
  max-width: 100%;
  font-size: 1.25em;
  padding: 1em 1em 2em 1em;
  background: #2b283d;
}
/* 1-1 */

.header {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 0.85em;
  text-shadow: 0 3px 2px #000;
}
/* 1-2 */

.email {
  position: relative;
  height: 2em;
  line-height: 2em;
  font-size: 0.85em;
  padding: 0 0.5em;
  width: 100%;
  margin: 0.15em;
  border: 1px solid black;
}
/* 1-3 */

.submit {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  overflow: hidden;
  margin: 0;
  background: transparent;
  color: #070222;
  background: #fff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 300ms;
  height: 0;
  width: 0;
  font-size: 0;
  translate: -50%;
  rotate: 45deg;
  padding: 0;
  border-bottom: 0;
  outline: none;
}
/* 1-4 */

.spectrum {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
}

.bar {
  height: 0.5em;
  /* 1-7 */
  width: 20%;
  transform-origin: bottom;
  transition: all 1s;
}
/* 1-6 */
.bar:nth-child(1n) {
  background: var(--spectrum1);
  animation-delay: 0;
}
.bar:nth-child(2n) {
  background: var(--spectrum2);
  animation-delay: 50ms;
}
.bar:nth-child(3n) {
  background: var(--spectrum3);
  animation-delay: 100ms;
}
.bar:nth-child(4n) {
  background: var(--spectrum4);
  animation-delay: 150ms;
}
.bar:nth-child(5n) {
  background: var(--spectrum5);
  animation-delay: 200ms;
}
